In [1]:
# import the libraries
import pandas as pd
import matplotlib as plt
import numpy as np
import scipy.stats as st
from scipy.stats import linregress

In [2]:
# Read CSV file
complete_data = pd.read_csv('hrsample.csv', low_memory=False)
complete_data.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Unnamed: 35
0,31,No,Non-Travel,158,Software,7,3,Medical,1,1,...,80,2,15,1,2,12,4,10,11,"From this data, which appears to be employee i..."
1,38,No,Travel_Rarely,985,Human Resources,33,5,Life Sciences,1,2,...,80,4,5,4,3,1,1,1,1,NaN
2,59,Yes,Non-Travel,1273,Sales,5,2,Technical Degree,1,3,...,80,2,9,5,1,6,6,4,3,Attrition Analysis:
3,52,Yes,Travel_Rarely,480,Support,2,5,Marketing,1,4,...,80,2,22,4,4,10,9,5,6,NaN
4,32,No,Non-Travel,543,Human Resources,7,5,Human Resources,1,5,...,80,2,30,3,4,29,27,9,7,Calculate the attrition rate and identify fact...

In [3]:
# Check for data types
complete_data.dtypes

Age                          int64
Attrition                   object
BusinessTravel              object
DailyRate                    int64
Department                  object
DistanceFromHome             int64
Education                    int64
EducationField              object
EmployeeCount                int64
EmployeeNumber               int64
EnvironmentSatisfaction      int64
Gender                      object
HourlyRate                   int64
JobInvolvement               int64
JobLevel                     int64
JobRole                     object
JobSatisfaction              int64
MaritalStatus               object
MonthlyIncome                int64
MonthlyRate                  int64
NumCompaniesWorked           int64
Over18                      object
OverTime                    object
PercentSalaryHike            int64
PerformanceRating            int64
RelationshipSatisfaction     int64
StandardHours                int64
StockOptionLevel             int64
TotalWorkingYears            int64
TrainingTimesLastYear        int64
WorkLifeBalance              int64
YearsAtCompany               int64
YearsInCurrentRole           int64
YearsSinceLastPromotion      int64
YearsWithCurrManager         int64
Unnamed: 35                 object
dtype: object

In [4]:
# Check for the number of the values (to see if we have missing value)
complete_data.count()

Age                         50000
Attrition                   50000
BusinessTravel              50000
DailyRate                   50000
Department                  50000
DistanceFromHome            50000
Education                   50000
EducationField              50000
EmployeeCount               50000
EmployeeNumber              50000
EnvironmentSatisfaction     50000
Gender                      50000
HourlyRate                  50000
JobInvolvement              50000
JobLevel                    50000
JobRole                     50000
JobSatisfaction             50000
MaritalStatus               50000
MonthlyIncome               50000
MonthlyRate                 50000
NumCompaniesWorked          50000
Over18                      50000
OverTime                    50000
PercentSalaryHike           50000
PerformanceRating           50000
RelationshipSatisfaction    50000
StandardHours               50000
StockOptionLevel            50000
TotalWorkingYears           50000
TrainingTimesLastYear       50000
WorkLifeBalance             50000
YearsAtCompany              50000
YearsInCurrentRole          50000
YearsSinceLastPromotion     50000
YearsWithCurrManager        50000
Unnamed: 35                    32
dtype: int64

In [5]:
# Dropping unwanted columns
cleaned_data = complete_data.drop(columns=['Unnamed: 35', 'BusinessTravel', 'EmployeeCount', 'DistanceFromHome',
                                             'Attrition','Over18', 'StockOptionLevel', 'StandardHours'])
# Assign EmployeeNumber as an index
cleaned_data.set_index('EmployeeNumber', inplace=True)

cleaned_data.head()

,Age,DailyRate,Department,Education,EducationField,EnvironmentSatisfaction,Gender,HourlyRate,JobInvolvement,JobLevel,...,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
EmployeeNumber,,,,,,,,,,,,,,,,,,,,,
1,31,158,Software,3,Medical,3,Male,42,2,3,...,20,4,1,15,1,2,12,4,10,11
2,38,985,Human Resources,5,Life Sciences,1,Female,66,2,4,...,2,1,3,5,4,3,1,1,1,1
3,59,1273,Sales,2,Technical Degree,4,Female,96,1,3,...,39,3,2,9,5,1,6,6,4,3
4,52,480,Support,5,Marketing,4,Female,71,2,4,...,16,3,2,22,4,4,10,9,5,6
5,32,543,Human Resources,5,Human Resources,2,Male,122,3,3,...,42,3,4,30,3,4,29,27,9,7

In [6]:
# selecting numeric columns to crate a summary statistic table
numeric_cols = cleaned_data.select_dtypes(include=['number']).columns
# Getting the mean, median, var, std, sem for each column
summary_table = cleaned_data[numeric_cols].agg(['mean', 'median', 'var', 'std', 'sem'])
summary_table

,Age,DailyRate,Education,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,JobSatisfaction,MonthlyIncome,MonthlyRate,...,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
mean,38.971480,798.677560,3.004600,2.498360,115.432940,2.502620,2.994640,2.487380,2.601578e+04,4.040436e+05,...,24.618320,2.495960,2.502220,20.496860,3.493980,2.498720,10.771100,5.907300,5.871820,5.889040
median,39.000000,798.000000,3.000000,2.000000,116.000000,3.000000,3.000000,2.000000,2.598850e+04,3.106300e+05,...,25.000000,2.000000,2.000000,20.000000,3.000000,2.000000,8.000000,4.000000,4.000000,4.000000
var,154.277112,164089.982032,2.000099,1.253662,2442.817439,1.255618,2.005051,1.246146,2.076763e+08,1.157298e+11,...,207.504030,1.250129,1.249740,133.999590,2.917782,1.241263,79.820461,36.413715,35.988670,36.115450
std,12.420834,405.080217,1.414249,1.119671,49.424867,1.120544,1.415998,1.116309,1.441098e+04,3.401908e+05,...,14.405000,1.118092,1.117918,11.575819,1.708152,1.114120,8.934230,6.034378,5.999056,6.009613
sem,0.055548,1.811574,0.006325,0.005007,0.221035,0.005011,0.006333,0.004992,6.444785e+01,1.521380e+03,...,0.064421,0.005000,0.004999,0.051769,0.007639,0.004982,0.039955,0.026987,0.026829,0.026876

In [7]:
# Check the values of Department column
cleaned_data['Department'].value_counts()

Department
Sales                     8453
Human Resources           8418
Software                  8336
Research & Development    8319
Support                   8305
Hardware                  8169
Name: count, dtype: int64

In [8]:
# Check the value for MaritalStatus column
cleaned_data['MaritalStatus'].value_counts()

MaritalStatus
Single      16703
Married     16681
Divorced    16616
Name: count, dtype: int64

In [9]:
# Check the value for EducationField column
cleaned_data['EducationField'].value_counts()

EducationField
Medical             8607
Other               8359
Life Sciences       8339
Human Resources     8282
Technical Degree    8216
Marketing           8197
Name: count, dtype: int64